div{
    
    margin:4px;
}
.wrapper{
    
    display: inline-block;
    align-items: center;
    
    justify-content: center;
    object-fit: cover;
    
    

}
img{
    display: block;
    
    margin: 0 auto;
    
    
    
    
    
    
    

    
}
 
td{
   color:black;
   font-size: 25px;
}
body{
    
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    
}
a{
    text-decoration: none;
    color:black;
    font-size: 25px;
    text-align: center;
}
.container{
    height: 450px;
    width: 360px;
 ;box-shadow: 0 0 10px gray;
 background-color: white;
    
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    
} 
.image{
    border-radius: 6%;
    
}    
 .post{
    object-fit: cover;
 }   
    

.b-border {
    border: 6px solid grey;
    width: 150px;
    height: 320px;
    border-radius: 10%;
    
    animation: animBlinkBorder 5s linear infinite;
  }
  @keyframes animBlinkBorder {
    0% {
      border-color: yellow;
    }
    50% {
      border-color: green;
    }
    100% {
      border-color:red;
    }
  }
  
  